# Visual Studio tracking & caches
.vs/

*.sln

*.vcxproj

*.vcxproj.filters

*.vcxproj.user

# Compilation/Build outputs
*.obj

*.exe

*.pdb

*.ilk

build/

CMakeCache.txt

# VS Code configurations (Optional: keep if you want team settings shared)
.vscode/