# Visual Studio tracking & caches
.vs/

*.sln

*.vcxproj

*.vcxproj.filters

*.vcxproj.user

# Compilation/Build outputs
*.obj

*.exe

*.pdb

*.ilk

*.zip

*.py

*.sh

*.plist

*.desktop

PKGBUILD

build/

dist/

*.bat

*.json

CMakeCache.txt

# VS Code configurations (Optional: keep if you want team settings shared)
.vscode/
